  <div class="contents row">
    <div class="success">
      <h4>
        投稿が完了しました。
      </h4>
      <a class="btn waves-effect #4dd0e1 cyan lighten-2" href="/posts" type="submit" name="action">投稿一覧へ戻る</button></a>
    </div>
  </div>